{% extends "base.html" %}

{% block title %} Home {% endblock title %}


{% block body %}
<span>Total Tasks= {{total_tasks}}</span>
<br>
<span>Tasks completed= {{tasks_completed}}</span>
<br>
<span>Total incompleted= {{tasks_incompleted}}</span>
<br>
<div class="container"></div>


<h1>Todo list</h1>
<table class="table">
    <thead>
        <tr>
        <th scope="col">S.N</th>
        <th scope="col">Title</th>
        <th scope="col">Description</th>
        <th scope="col">Status</th>
        <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
    
        <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{task.title}}</td>
        <td>{{task.description}}</td>
        <td>
            {% if task.status %}
            <span class="text-sucess">Completed</span>
            {% else %}
            <span class="text-danger">Pending</span>
            {% endif %}
        </td>
        <td>
            <a class='btn btn-primary' href="task/{{task.id}}">Mark</a>
            <a class='btn btn-primary' href="task/{{task.id}}/edit">Update</a>
            <a class='btn btn-primary' href="task/{{task.id}}/delete">Delete</a>
        </td> 
        </tr>
        {% endfor %}
       
    </tbody>
    </table>
    </div>
{% endblock body %}
