{% extends "base.html" %}
{% block title %}
Update task
{% endblock title %}
{% block body %}

<div class='container'>
<h1>Update Task</h1>
{% if error %}
<div class="alert alert-danger" role="alert">
  {{error}}
</div>{% endif %}

<form action="/task/{{task.id}}/edit" method='POST'> 

    {% csrf_token %}
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title</label>
      <input type="text" class="form-control" id="text" name="title" aria-describedby="TextHelp" value='{{task.title}}'>
    </div>
    <div class="form-floating">
        <textarea class="form-control"  id="floatingTextarea2" style="height: 100px" name="description" id="text">{{task.description}}</textarea>
        <label for="floatingTextarea2">Description</label>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

{% endblock body %}

